In [1]:
import os
import numpy as np
import netCDF4 as netcdf
import pandas as pd
from concorde.tools import get_list
from tqdm import tqdm
from concorde.tools import tsFromNC
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
ys = [36.183, 35.795, 35.209, 34.717, 34.227, 34.213]
xs = [-75.745, -75.549, -75.704, -76.67, -77.953, -77.787]
names = ['Duck', 'Oregon', 'Hatteras', 'Beaufort', 'Wilmington', 'Wrightsville']

In [3]:
files = [r'../models/adcirc/concorde/batch02/_results/02c/Arthur/maxele.63.nc',
         r'../models/adcirc/concorde/batch02/_results/03c/Florence/maxele.63.nc',
         r'../models/adcirc/concorde/batch02/_results/02c/Irene/maxele.63.nc',
         r'../models/adcirc/concorde/batch02/_results/03c/Isaias/maxele.63.nc',
         r'../models/adcirc/concorde/batch02/_results/03c/Isabel/maxele.63.nc',
         r'../models/adcirc/concorde/batch02/_results/04/Matthew/maxele.63.nc']

In [4]:
maxelev = []
for fi, f in tqdm(enumerate(files)):
    melev = netcdf.Dataset(f)
    ts, rep = tsFromNC(melev, list(zip(xs, ys)), n = 5, variable = 'zeta_max',
                         closestIfDry = True)
    #ts, rep = tsFromNC(melev, list(zip(xs, ys)), n = 5, variable = 'time_of_zeta_max',
    #                    closestIfDry = True)
    ts.index = [os.path.dirname(f).split('/')[-1]]
    maxelev.append(ts)
    
dfout = pd.concat(maxelev, axis = 0)
dfout.columns = names
dfout.to_csv(r'../models/adcirc/concorde/batch02/_postprocessing/max_water_level_at_NC_NOAA_stations_historic_storms.csv')

6it [00:55,  9.21s/it]

In [12]:
dfout

              Duck    Oregon  Hatteras  Beaufort  Wilmington  Wrightsville
Arthur    1.509867  0.911798  1.497667  2.129577    0.749290      2.232792
Florence  0.859692  0.482091  0.240263  1.879700    3.282063      1.981187
Irene     1.094560  2.962294  1.112271  2.282573    0.808168      3.514507
Isaias    0.850690  1.246958  0.204605  1.887169    2.515477      1.581546
Isabel    1.318409  0.347550  0.172327  1.574595    0.845429      0.996678
Matthew   1.262591  0.629180  1.368479  1.246066    1.627601      1.559940